:root {
    --fonte-principal: 'Lato', sans-serif;
    --azul: #003D73;
  }

  body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    background-color: #EEF3FA;
  }
  
  .teste-master {
    display: flex;
  }

  .predio_pessoa img {
    width: 235px;
    height: 95vh;
    background-color: #B51D44;
    ;
}

.corpo {
    flex: 1;
    padding: 55px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .informacoes {
    display: flex;
    align-items: center;
  }
  
  .informacoes input[type="text"] {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }